
@font-face {
  font-family: 'HelveticaOblique';
  src: url('HelveticaOblique.eot?#iefix') format('embedded-opentype'),  url('HelveticaOblique.woff') format('woff'), url('HelveticaOblique.ttf')  format('truetype'), url('HelveticaOblique.svg#HelveticaOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
