<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Nationpassport>
            <version>0.1.0</version>
        </Magestore_Nationpassport>
    </modules>
    <frontend>
        <routers>
            <nationpassport>
                <use>standard</use>
                <args>
                    <module>Magestore_Nationpassport</module>
                    <frontName>nationpassport</frontName>
                </args>
            </nationpassport>
        </routers>
        <layout>
            <updates>
                <nationpassport>
                    <file>nationpassport.xml</file>
                </nationpassport>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Nationpassport>
                    <files>
                        <default>Magestore_Nationpassport.csv</default>
                    </files>
                </Magestore_Nationpassport>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<nationpassportadmin>
				<use>admin</use>
				<args>
					<module>Magestore_Nationpassport</module>
					<frontName>nationpassportadmin</frontName>
				</args>
			</nationpassportadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<nationpassport>
					<file>nationpassport.xml</file>
				</nationpassport>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_Nationpassport>
                    <files>
                        <default>Magestore_Nationpassport.csv</default>
                    </files>
                </Magestore_Nationpassport>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <nationpassport>
                <class>Magestore_Nationpassport_Model</class>
                <resourceModel>nationpassport_mysql4</resourceModel>
            </nationpassport>
            <nationpassport_mysql4>
                <class>Magestore_Nationpassport_Model_Mysql4</class>
                <entities>
                    <nationpassport>
                        <table>nationpassport</table>
                    </nationpassport>
                </entities>
            </nationpassport_mysql4>
        </models>
        <resources>
            <nationpassport_setup>
                <setup>
                    <module>Magestore_Nationpassport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nationpassport_setup>
            <nationpassport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nationpassport_write>
            <nationpassport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nationpassport_read>
        </resources>
        <blocks>
            <nationpassport>
                <class>Magestore_Nationpassport_Block</class>
            </nationpassport>
        </blocks>
        <helpers>
            <nationpassport>
                <class>Magestore_Nationpassport_Helper</class>
            </nationpassport>
        </helpers>
    </global>
    <default>
        <nationpassport>
            <general>
                <enable>1</enable>
            </general>
        </nationpassport>
    </default>
</config>
