<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_CustomProduct>
            <version>0.1.0</version>
        </Magestore_CustomProduct>
    </modules>
    <frontend>
        <routers>
            <customproduct>
                <use>standard</use>
                <args>
                    <module>Magestore_CustomProduct</module>
                    <frontName>customproduct</frontName>
                </args>
            </customproduct>
        </routers>
        <layout>
            <updates>
                <customproduct>
                    <file>customproduct.xml</file>
                </customproduct>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_CustomProduct>
                    <files>
                        <default>Magestore_CustomProduct.csv</default>
                    </files>
                </Magestore_CustomProduct>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<customproductadmin>
				<use>admin</use>
				<args>
					<module>Magestore_CustomProduct</module>
					<frontName>customproductadmin</frontName>
				</args>
			</customproductadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<customproduct>
					<file>customproduct.xml</file>
				</customproduct>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_CustomProduct>
                    <files>
                        <default>Magestore_CustomProduct.csv</default>
                    </files>
                </Magestore_CustomProduct>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <catalog>
            <product>
                <type>
                    <customproduct translate="label" module="customproduct">
                        <label>Shop Now Product</label>
                        <model>customproduct/product_type</model>
                        <is_qty>1</is_qty>
                        <composite>0</composite>
                        <can_use_qty_decimals>1</can_use_qty_decimals>
                        <price_model>customproduct/product_price</price_model>
                    </customproduct>
                    <gfitcardproduct translate="label" module="customproduct">
                        <label>Gift Card Product</label>
                        <model>customproduct/giftcard_product_type</model>
                        <is_qty>1</is_qty>
                        <composite>0</composite>
                        <can_use_qty_decimals>1</can_use_qty_decimals>
                        <price_model>customproduct/giftcard_product_price</price_model>
                    </gfitcardproduct>
                </type>
            </product>
        </catalog>
        <models>
            <customproduct>
                <class>Magestore_CustomProduct_Model</class>
                <resourceModel>customproduct_mysql4</resourceModel>
            </customproduct>
            <customproduct_mysql4>
                <class>Magestore_CustomProduct_Model_Mysql4</class>
            </customproduct_mysql4>
        </models>
        <resources>
            <customproduct_setup>
                <setup>
                    <module>Magestore_CustomProduct</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customproduct_setup>
            <customproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customproduct_write>
            <customproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customproduct_read>
        </resources>
        <blocks>
            <customproduct>
                <class>Magestore_CustomProduct_Block</class>
            </customproduct>
        </blocks>
        <helpers>
            <customproduct>
                <class>Magestore_CustomProduct_Helper</class>
            </customproduct>
        </helpers>
    </global>
</config>