<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Custompromotions>
            <version>0.1.0</version>
        </Magestore_Custompromotions>
    </modules>
    <frontend>
        <routers>
            <custompromotions>
                <use>standard</use>
                <args>
                    <module>Magestore_Custompromotions</module>
                    <frontName>custompromotions</frontName>
                </args>
            </custompromotions>
        </routers>
        <layout>
            <updates>
                <custompromotions>
                    <file>custompromotions.xml</file>
                </custompromotions>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Custompromotions>
                    <files>
                        <default>Magestore_Custompromotions.csv</default>
                    </files>
                </Magestore_Custompromotions>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<custompromotionsadmin>
				<use>admin</use>
				<args>
					<module>Magestore_Custompromotions</module>
					<frontName>custompromotionsadmin</frontName>
				</args>
			</custompromotionsadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<custompromotions>
					<file>custompromotions.xml</file>
				</custompromotions>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_Custompromotions>
                    <files>
                        <default>Magestore_Custompromotions.csv</default>
                    </files>
                </Magestore_Custompromotions>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <custompromotions>
                <class>Magestore_Custompromotions_Model</class>
                <resourceModel>custompromotions_mysql4</resourceModel>
            </custompromotions>
            <custompromotions_mysql4>
                <class>Magestore_Custompromotions_Model_Mysql4</class>
                <entities>
                    <custompromotions>
                        <table>custompromotions</table>
                    </custompromotions>
                </entities>
            </custompromotions_mysql4>
        </models>
        <resources>
            <custompromotions_setup>
                <setup>
                    <module>Magestore_Custompromotions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custompromotions_setup>
            <custompromotions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custompromotions_write>
            <custompromotions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custompromotions_read>
        </resources>
        <blocks>
            <custompromotions>
                <class>Magestore_Custompromotions_Block</class>
            </custompromotions>
        </blocks>
        <helpers>
            <custompromotions>
                <class>Magestore_Custompromotions_Helper</class>
            </custompromotions>
        </helpers>
        <events>
            <customer_register_success>
                <observers>
                    <custompromotions_customer_register_success>
                        <type>singleton</type>
                        <class>custompromotions/observer</class>
                        <method>customerRegisterSuccess</method>
                    </custompromotions_customer_register_success>
                </observers>
            </customer_register_success>
            <sales_order_place_after>
                <observers>
                    <custompromotions_sales_order_place_after>
                        <type>singleton</type>
                        <class>custompromotions/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </custompromotions_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>
                <observers>
                    <custompromotions_sales_order_save_after>
                        <type>singleton</type>
                        <class>custompromotions/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </custompromotions_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </global>

    <default>
        <custompromotions>
            <general>
                <enable>1</enable>
                <rewards>10</rewards>
                <max_customers>10</max_customers>
            </general>
            <product>
                <enable>1</enable>
                <truwallet_sku>TWGIFTCARD</truwallet_sku>
                <truwallet_value>50</truwallet_value>
                <order_status>pending</order_status>
                <notify_message>Important: truWallet cannot be used as a payment option for Gift Cards.</notify_message>
            </product>
        </custompromotions>
    </default>
</config>