<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AW_Eventdiscount>
            <version>1.0.5</version><platform>ce</platform>
        </AW_Eventdiscount>
    </modules>
    <frontend>
        <layout>
            <updates>
                <eventdiscount module="AW_Eventdiscount">
                    <file>aw_eventdiscount.xml</file>
                </eventdiscount>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Eventdiscount>
                    <files>
                        <default>AW_Eventdiscount.csv</default>
                    </files>
                </AW_Eventdiscount>
            </modules>
        </translate>
        <routers>
            <eventdiscount>
                <use>standard</use>
                <args>
                    <module>AW_Eventdiscount</module>
                    <frontName>eventdiscount</frontName>
                </args>
            </eventdiscount>
        </routers>
        <events>
            <customer_save_after>
                <observers>
                    <aweventdiscount_customer_save_after>
                        <type>singleton</type>
                        <class>aweventdiscount/event_registration</class>
                        <method>customerSaveAfter</method>
                    </aweventdiscount_customer_save_after>
                </observers>
            </customer_save_after>
            <customer_register_success>
                <observers>
                    <aweventdiscount_customer_register_success>
                        <type>singleton</type>
                        <class>aweventdiscount/event_registration</class>
                        <method>redirectToCMS</method>
                    </aweventdiscount_customer_register_success>
                </observers>
            </customer_register_success>
            <controller_action_predispatch>
                <observers>
                    <aweventdiscount_controller_action_before>
                        <type>singleton</type>
                        <class>aweventdiscount/event_promotion</class>
                        <method>controllerActionPredispatch</method>
                    </aweventdiscount_controller_action_before>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <global>
        <helpers>
            <eventdiscount>
                <class>AW_Eventdiscount_Helper</class>
            </eventdiscount>
        </helpers>
        <models>
            <aweventdiscount>
                <class>AW_Eventdiscount_Model</class>
                <resourceModel>eventdiscount_resource</resourceModel>
            </aweventdiscount>
            <eventdiscount_resource>
                <class>AW_Eventdiscount_Model_Resource</class>
                <entities>
                    <timer>
                        <table>aw_eventdiscount_timer</table>
                    </timer>
                    <trigger>
                        <table>aw_eventdiscount_trigger</table>
                    </trigger>
                    <action>
                        <table>aw_eventdiscount_action</table>
                    </action>
                    <product>
                        <table>aw_eventdiscount_timer_product</table>
                    </product>
                </entities>
            </eventdiscount_resource>
        </models>
        <resources>
            <eventdiscount_setup>
                <setup>
                    <module>AW_Eventdiscount</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eventdiscount_setup>
            <eventdiscount_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eventdiscount_write>
            <eventdiscount_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eventdiscount_read>
        </resources>
        <blocks>
            <eventdiscount>
                <class>AW_Eventdiscount_Block</class>
            </eventdiscount>
        </blocks>
        <events>
            <customer_register_success>
                <observers>
                    <aweventdiscount_event_registration>
                        <type>singleton</type>
                        <class>aweventdiscount/event_registration</class>
                        <method>processEvent</method>
                    </aweventdiscount_event_registration>
                </observers>
            </customer_register_success>

            <customer_login>
                <observers>
                    <aweventdiscount_event_login>
                        <type>singleton</type>
                        <class>aweventdiscount/event_login</class>
                        <method>processEvent</method>
                    </aweventdiscount_event_login>
                </observers>
            </customer_login>

            <sales_quote_address_discount_item>
                <observers>
                    <aweventdiscount_checkout_cart_add_product_complete>
                        <type>singleton</type>
                        <class>aweventdiscount/event_cartupdate</class>
                        <method>processEvent</method>
                    </aweventdiscount_checkout_cart_add_product_complete>
                </observers>
            </sales_quote_address_discount_item>

            <sales_order_place_after>
                <observers>
                    <aweventdiscount_event_placeorder>
                        <type>singleton</type>
                        <class>aweventdiscount/event_placeorder</class>
                        <method>processEvent</method>
                    </aweventdiscount_event_placeorder>
                </observers>
            </sales_order_place_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <aweventdiscount_event_placeorder>
                        <type>singleton</type>
                        <class>aweventdiscount/event_placeorder</class>
                        <method>processEvent</method>
                    </aweventdiscount_event_placeorder>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <sales_quote_collect_totals_after>
                <observers>
                    <set_discount_static>
                        <type>singleton</type>
                        <class>aweventdiscount/trigger_discount</class>
                        <method>setDiscount</method>
                    </set_discount_static>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aweventdiscount after="Mage_Adminhtml">AW_Eventdiscount_Adminhtml</aweventdiscount>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <promo>
                <children>
                    <eventdiscount module="eventdiscount">
                        <title>Event Based Discounts</title>
                        <sort_order>10</sort_order>
                        <children>
                            <new module="eventdiscount">
                                <title>Add New</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/aweventdiscount_timer/new</action>
                            </new>
                            <list module="eventdiscount">
                                <title>Timer List</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/aweventdiscount_timer/list</action>
                            </list>
                            <stats module="eventdiscount">
                                <title>Statistics</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/aweventdiscount_stat/index</action>
                            </stats>
                        </children>
                    </eventdiscount>
                </children>
            </promo>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow everything</title>
                </all>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <eventdiscount module="eventdiscount">
                                    <title>Event based timers</title>
                                    <sort_order>10</sort_order>
                                    <children>
                                        <new module="eventdiscount">
                                            <title>Add New</title>
                                            <sort_order>10</sort_order>
                                        </new>
                                        <list module="eventdiscount">
                                            <title>Timer List</title>
                                            <sort_order>20</sort_order>
                                        </list>
                                        <stats module="eventdiscount">
                                            <title>Statistics</title>
                                            <sort_order>30</sort_order>
                                        </stats>
                                    </children>
                                </eventdiscount>
                            </children>
                        </catalog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <eventdiscount>
                                            <title>Event Based Discounts section</title>
                                        </eventdiscount>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <eventdiscount module="eventdiscount">
                    <file>aw_eventdiscount.xml</file>
                </eventdiscount>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Eventdiscount>
                    <files>
                        <default>AW_Eventdiscount.csv</default>
                    </files>
                </AW_Eventdiscount>
            </modules>
        </translate>
    </adminhtml>
</config>