<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Interest>
            <version>0.1.0</version>
        </Magestore_Interest>
    </modules>
    <frontend>
        <routers>
            <interest>
                <use>standard</use>
                <args>
                    <module>Magestore_Interest</module>
                    <frontName>interest</frontName>
                </args>
            </interest>
        </routers>
        <layout>
            <updates>
                <interest>
                    <file>interest.xml</file>
                </interest>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Interest>
                    <files>
                        <default>Magestore_Interest.csv</default>
                    </files>
                </Magestore_Interest>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<interestadmin>
				<use>admin</use>
				<args>
					<module>Magestore_Interest</module>
					<frontName>interestadmin</frontName>
				</args>
			</interestadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<interest>
					<file>interest.xml</file>
				</interest>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_Interest>
                    <files>
                        <default>Magestore_Interest.csv</default>
                    </files>
                </Magestore_Interest>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <interest>
                <class>Magestore_Interest_Model</class>
                <resourceModel>interest_mysql4</resourceModel>
            </interest>
            <interest_mysql4>
                <class>Magestore_Interest_Model_Mysql4</class>
                <entities>
                    <interest>
                        <table>interest</table>
                    </interest>
                    <customer>
                        <table>interest_customer</table>
                    </customer>
                </entities>
            </interest_mysql4>
        </models>
        <resources>
            <interest_setup>
                <setup>
                    <module>Magestore_Interest</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </interest_setup>
            <interest_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </interest_write>
            <interest_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </interest_read>
        </resources>
        <blocks>
            <interest>
                <class>Magestore_Interest_Block</class>
            </interest>
        </blocks>
        <helpers>
            <interest>
                <class>Magestore_Interest_Helper</class>
            </interest>
        </helpers>
    </global>
</config>
