<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_TruWallet>
            <version>0.1.0</version>
        </Magestore_TruWallet>
    </modules>
    <frontend>
        <routers>
            <truwallet>
                <use>standard</use>
                <args>
                    <module>Magestore_TruWallet</module>
                    <frontName>truwallet</frontName>
                </args>
            </truwallet>
        </routers>
        <layout>
            <updates>
                <truwallet>
                    <file>truwallet.xml</file>
                </truwallet>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_TruWallet>
                    <files>
                        <default>Magestore_TruWallet.csv</default>
                    </files>
                </Magestore_TruWallet>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<truwalletadmin>
				<use>admin</use>
				<args>
					<module>Magestore_TruWallet</module>
					<frontName>truwalletadmin</frontName>
				</args>
			</truwalletadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<truwallet>
					<file>truwallet.xml</file>
				</truwallet>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_TruWallet>
                    <files>
                        <default>Magestore_TruWallet.csv</default>
                    </files>
                </Magestore_TruWallet>
            </modules>
        </translate>
        <events>
            <customer_save_after>
                <observers>
                    <truwallet_adminhtml_observers>
                        <type>singleton</type>
                        <class>truwallet/admin_observer</class>
                        <method>customerSaveAfter</method>
                    </truwallet_adminhtml_observers>
                </observers>
            </customer_save_after>
        </events>
    </adminhtml>   
    <global>
        <models>
            <truwallet>
                <class>Magestore_TruWallet_Model</class>
                <resourceModel>truwallet_mysql4</resourceModel>
            </truwallet>
            <truwallet_mysql4>
                <class>Magestore_TruWallet_Model_Mysql4</class>
                <entities>
                    <customer>
                        <table>truwallet_customer</table>
                    </customer>
                    <transaction>
                        <table>truwallet_transaction</table>
                    </transaction>
                </entities>
            </truwallet_mysql4>
        </models>
        <resources>
            <truwallet_setup>
                <setup>
                    <module>Magestore_TruWallet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </truwallet_setup>
            <truwallet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </truwallet_write>
            <truwallet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </truwallet_read>
        </resources>
        <blocks>
            <truwallet>
                <class>Magestore_TruWallet_Block</class>
            </truwallet>
        </blocks>
        <helpers>
            <truwallet>
                <class>Magestore_TruWallet_Helper</class>
            </truwallet>
        </helpers>
    </global>
</config>