<?xml version="1.0"?>
<config>
	<tabs>
		<magestore translate="label">
			<label>Magestore Extension</label>
			<sort_order>400</sort_order>
		</magestore>
	</tabs>
	<sections>
		<truwallet translate="label" module="truwallet">
			<class>separator-top</class>
			<label>TruWallet</label>
			<tab>magestore</tab>
			<frontend_type>text</frontend_type>
			<sort_order>299</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>		
						<enable translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<sort_order>1</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</enable>
						<warning_message translate="label">
							<label>The warning message in TruBox page</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Display a warning message when the truWallet balance is smaller than total price of items in TruBox page</comment>
						</warning_message>
					</fields>				
				</general>
				<sharewallet>
					<label>Share truWallet Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>40</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<expire_date translate="label comment">
							<label>Expiry Date for Sharing truWallet</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>day(s)that the truWallet money will be returned to sender</comment>
						</expire_date>
					</fields>
				</sharewallet>
				<spending>
					<label>Spending Points Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<tax translate="label">
							<label>Apply Credit</label>
							<frontend_type>select</frontend_type>
							<source_model>truwallet/aftertax</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</tax>
						<shipping translate="label">
							<label>Shipping Fee</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Choose Yes if you allow using credit for Shipping Fee.</comment>
						</shipping>
					</fields>
				</spending>
				<email>
					<label>Email Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>50</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enable translate="label comment">
							<label>Enable notification email</label>
							<frontend_type>select</frontend_type>
							<sort_order>10</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</enable>
						<sender translate="label comment">
							<label>Sender</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_identity</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sender>
						<share_email_customer translate="label comment">
							<label>Send email to the customer who is received money from sharing truWallet</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</share_email_customer>
						<share_email_non_customer translate="label comment">
							<label>Send email to the person who doesn't have account from sharing truWallet</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</share_email_non_customer>
						<share_email_expiry_date translate="label comment">
							<label>Send email when sharing truWallet is expired date</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</share_email_expiry_date>
					</fields>
				</email>
			</groups>
		</truwallet>
	</sections>
</config>