<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_TruGiftCard>
            <version>0.1.0</version>
        </Magestore_TruGiftCard>
    </modules>
    <frontend>
        <routers>
            <trugiftcard>
                <use>standard</use>
                <args>
                    <module>Magestore_TruGiftCard</module>
                    <frontName>trugiftcard</frontName>
                </args>
            </trugiftcard>
        </routers>
        <layout>
            <updates>
                <trugiftcard>
                    <file>trugiftcard.xml</file>
                </trugiftcard>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_TruGiftCard>
                    <files>
                        <default>Magestore_TruGiftCard.csv</default>
                    </files>
                </Magestore_TruGiftCard>
            </modules>
        </translate>
        <!--<events>
            <core_block_abstract_to_html_after>
                <observers>
                    <trugiftcard_block_to_html>
                        <type>singleton</type>
                        <class>trugiftcard/frontend_observer</class>
                        <method>trugiftcardPaymentMethod</method>
                    </trugiftcard_block_to_html>
                </observers>
            </core_block_abstract_to_html_after>
        </events>-->
    </frontend>
    <admin>
        <routers>
			<trugiftcardadmin>
				<use>admin</use>
				<args>
					<module>Magestore_TruGiftCard</module>
					<frontName>trugiftcardadmin</frontName>
				</args>
			</trugiftcardadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<trugiftcard>
					<file>trugiftcard.xml</file>
				</trugiftcard>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_TruGiftCard>
                    <files>
                        <default>Magestore_TruGiftCard.csv</default>
                    </files>
                </Magestore_TruGiftCard>
            </modules>
        </translate>
        <events>
            <customer_save_after>
                <observers>
                    <trugiftcard_adminhtml_observers>
                        <type>singleton</type>
                        <class>trugiftcard/admin_observer</class>
                        <method>customerSaveAfter</method>
                    </trugiftcard_adminhtml_observers>
                </observers>
            </customer_save_after>
        </events>
    </adminhtml>   
    <global>
        <!--<pdf>
            <totals>
                <customer_credit>
                    <title>Use credits on spend</title>
                    <source_field>trugiftcard_discount</source_field>
                    <model>trugiftcard/pdf</model>
                    <font_size>7</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>200</sort_order>
                </customer_credit>
            </totals>
        </pdf>-->
        <models>
            <trugiftcard>
                <class>Magestore_TruGiftCard_Model</class>
                <resourceModel>trugiftcard_mysql4</resourceModel>
            </trugiftcard>
            <trugiftcard_mysql4>
                <class>Magestore_TruGiftCard_Model_Mysql4</class>
                <entities>
                    <customer>
                        <table>trugiftcard_customer</table>
                    </customer>
                    <transaction>
                        <table>trugiftcard_transaction</table>
                    </transaction>
                </entities>
            </trugiftcard_mysql4>
            <!--<shipping>
                <rewrite>
                    <carrier_flatrate>Magestore_TruGiftCard_Model_Admin_Shipping_Carrier_Flatrate</carrier_flatrate>
                </rewrite>
            </shipping>-->
        </models>
        <resources>
            <trugiftcard_setup>
                <setup>
                    <module>Magestore_TruGiftCard</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </trugiftcard_setup>
            <trugiftcard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </trugiftcard_write>
            <trugiftcard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </trugiftcard_read>
        </resources>
        <blocks>
            <trugiftcard>
                <class>Magestore_TruGiftCard_Block</class>
            </trugiftcard>
        </blocks>
        <helpers>
            <trugiftcard>
                <class>Magestore_TruGiftCard_Helper</class>
            </trugiftcard>
            <!--<payment>
                <rewrite>
                    <data>Magestore_TruGiftCard_Helper_Payment</data>
                </rewrite>
            </payment>-->
        </helpers>
        <events>
            <customer_register_success>
                <observers>
                    <trugiftcard_customer_register_success>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>customerRegisterSuccess</method>
                    </trugiftcard_customer_register_success>
                </observers>
            </customer_register_success>
            <sales_order_save_after>
                <observers>
                    <trugiftcard_order_save_after>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>orderSaveAfter</method>
                    </trugiftcard_order_save_after>
                </observers>
            </sales_order_save_after>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <trugiftcard_controller_action_predispatch_checkout_cart_add>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>predispatchCheckoutCartAdd</method>
                    </trugiftcard_controller_action_predispatch_checkout_cart_add>
                </observers>
            </controller_action_predispatch_checkout_cart_add>

            <order_cancel_after>
                <observers>
                    <trugiftcard_order_save_after>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>orderCancelAfter</method>
                    </trugiftcard_order_save_after>
                </observers>
            </order_cancel_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <trugiftcard_sales_order_creditmemo_save_after>
                        <class>trugiftcard/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </trugiftcard_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>

            <paypal_prepare_line_items>
                <observers>
                    <trugiftcard_paypal>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>paypal_prepare_line_items</method>
                    </trugiftcard_paypal>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_load_after>
                <observers>
                    <trugiftcard_sales_order_load_after>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>salesOrderLoadAfter</method>
                    </trugiftcard_sales_order_load_after>
                </observers>
            </sales_order_load_after>
            <sales_order_place_after>
                <observers>
                    <trugiftcard_sales_order_place_after>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>orderPlaceAfter</method>
                    </trugiftcard_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch>
                <observers>
                    <trugiftcard_controller_action_predispatch>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>checkAutoApplyCredits</method>
                    </trugiftcard_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>

            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <trugiftcard_adminhtml_sales_order_creditmemo_register_before>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>salesOrderCreditmemoRegisterBefore</method>
                    </trugiftcard_adminhtml_sales_order_creditmemo_register_before>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>

            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <trugiftcard_controller_action_predispatch_checkout_cart_add>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>predispatchCheckoutCartAdd</method>
                    </trugiftcard_controller_action_predispatch_checkout_cart_add>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <payment_method_is_active>
                <observers>
                    <trugiftcard_payment_method_is_active>
                        <type>singleton</type>
                        <class>trugiftcard/observer</class>
                        <method>paymentMethodIsActive</method>
                    </trugiftcard_payment_method_is_active>
                </observers>
            </payment_method_is_active>

        </events>
        <template>
            <email>
                <trugiftcard_email_share_email_customer>
                    <label>Email template sent to receiver when sharing truGiftCard</label>
                    <file>trugiftcard/share_email_customer.html</file>
                    <type>html</type>
                </trugiftcard_email_share_email_customer>
                <trugiftcard_email_share_email_non_customer>
                    <label>Email template sent who non customer when sharing truGiftCard</label>
                    <file>trugiftcard/share_email_non_customer.html</file>
                    <type>html</type>
                </trugiftcard_email_share_email_non_customer>
                <trugiftcard_email_share_email_before_expiry_date>
                    <label>Email template sent to sender before the transaction is expired date</label>
                    <file>trugiftcard/share_email_before_expiry_date.html</file>
                    <type>html</type>
                </trugiftcard_email_share_email_before_expiry_date>
                <trugiftcard_email_share_email_expiry_date>
                    <label>Email template sent to sender when the transaction is expired date</label>
                    <file>trugiftcard/share_email_expiry_date.html</file>
                    <type>html</type>
                </trugiftcard_email_share_email_expiry_date>
            </email>
        </template>
        <sales>
            <quote>
                <totals>
                    <trugiftcard>
                        <class>trugiftcard/total_quote_discount</class>
                        <after>tax,rewardpoints_label</after>
                        <before>grand_total</before>
                    </trugiftcard>
                    <trugiftcardbeforetax>
                        <class>trugiftcard/total_quote_discountbeforetax</class>
                        <after>wee,discount,subtotal</after>
                        <before>tax</before>
                    </trugiftcardbeforetax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <trugiftcard>
                        <class>trugiftcard/total_order_invoice_discount</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </trugiftcard>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <trugiftcard>
                        <class>trugiftcard/total_order_creditmemo_discount</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </trugiftcard>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <base_trugiftcard_discount>
                    <to_order>*</to_order>
                </base_trugiftcard_discount>
                <trugiftcard_discount>
                    <to_order>*</to_order>
                </trugiftcard_discount>
                <base_trugiftcard_discount_for_shipping>
                    <to_order>*</to_order>
                </base_trugiftcard_discount_for_shipping>
                <trugiftcard_discount_for_shipping>
                    <to_order>*</to_order>
                </trugiftcard_discount_for_shipping>
                <base_trugiftcard_hidden_tax>
                    <to_order>*</to_order>
                </base_trugiftcard_hidden_tax>
                <trugiftcard_hidden_tax>
                    <to_order>*</to_order>
                </trugiftcard_hidden_tax>
                <base_trugiftcard_shipping_hidden_tax>
                    <to_order>*</to_order>
                </base_trugiftcard_shipping_hidden_tax>
                <trugiftcard_shipping_hidden_tax>
                    <to_order>*</to_order>
                </trugiftcard_shipping_hidden_tax>
            </sales_convert_quote_address>

            <sales_convert_quote_item>
                <base_trugiftcard_discount>
                    <to_order_item>*</to_order_item>
                </base_trugiftcard_discount>
                <trugiftcard_discount>
                    <to_order_item>*</to_order_item>
                </trugiftcard_discount>
                <base_trugiftcard_hidden_tax>
                    <to_order_item>*</to_order_item>
                </base_trugiftcard_hidden_tax>
                <trugiftcard_hidden_tax>
                    <to_order_item>*</to_order_item>
                </trugiftcard_hidden_tax>
            </sales_convert_quote_item>

            <sales_convert_order_address>
                <base_trugiftcard_discount>
                    <to_quote_address>*</to_quote_address>
                </base_trugiftcard_discount>
                <trugiftcard_discount>
                    <to_quote_address>*</to_quote_address>
                </trugiftcard_discount>
                <base_trugiftcard_discount_for_shipping>
                    <to_quote_address>*</to_quote_address>
                </base_trugiftcard_discount_for_shipping>
                <trugiftcard_discount_for_shipping>
                    <to_quote_address>*</to_quote_address>
                </trugiftcard_discount_for_shipping>
                <base_trugiftcard_hidden_tax>
                    <to_quote_address>*</to_quote_address>
                </base_trugiftcard_hidden_tax>
                <trugiftcard_hidden_tax>
                    <to_quote_address>*</to_quote_address>
                </trugiftcard_hidden_tax>
                <base_trugiftcard_shipping_hidden_tax>
                    <to_quote_address>*</to_quote_address>
                </base_trugiftcard_shipping_hidden_tax>
                <trugiftcard_shipping_hidden_tax>
                    <to_quote_address>*</to_quote_address>
                </trugiftcard_shipping_hidden_tax>
            </sales_convert_order_address>
        </fieldsets>
    </global>
    <crontab>
        <jobs>
            <trugiftcard_check_expiry_date_sharing_truGiftCard>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>trugiftcard/observer::checkExpiryDate</model>
                </run>
            </trugiftcard_check_expiry_date_sharing_truGiftCard>
        </jobs>
    </crontab>
    <default>
        <trugiftcard>
            <general>
                <enable>1</enable>
            </general>
            <product>
                <enable>1</enable>
                <trugiftcard_sku>TGCGIFTCARD</trugiftcard_sku>
                <trugiftcard_value>50</trugiftcard_value>
                <order_status>complete</order_status>
                <notify_message>Important: truGiftCard cannot be used as a payment option for Gift Cards.</notify_message>
            </product>
            <sharegiftcard>
                <enable>1</enable>
            </sharegiftcard>
            <transfer>
                <enable>1</enable>
                <bonus>6</bonus>
                <message>You will be received 6% bonus when transfers money to truGiftCard</message>
            </transfer>
            <spending>
                <tax>1</tax>
                <shipping>0</shipping>
                <background_color>DFF0D8</background_color>
                <text_color>3C763D</text_color>
                <current_label>Trunited Gift Card balance</current_label>
                <applied_label>Enter amount to apply on this order</applied_label>
                <discount_label>Gift Card Discount</discount_label>
            </spending>
            <email>
                <enable>1</enable>
                <share_email_customer>trugiftcard_email_share_email_customer</share_email_customer>
                <share_email_non_customer>trugiftcard_email_share_email_non_customer</share_email_non_customer>
                <share_email_expiry_date>trugiftcard_email_share_email_expiry_date</share_email_expiry_date>
            </email>
        </trugiftcard>
    </default>
</config>
