<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_SpecialOccasion>
            <version>0.1.0</version>
        </Magestore_SpecialOccasion>
    </modules>
    <frontend>
        <routers>
            <specialoccasion>
                <use>standard</use>
                <args>
                    <module>Magestore_SpecialOccasion</module>
                    <frontName>specialoccasion</frontName>
                </args>
            </specialoccasion>
        </routers>
        <layout>
            <updates>
                <specialoccasion>
                    <file>specialoccasion.xml</file>
                </specialoccasion>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_SpecialOccasion>
                    <files>
                        <default>Magestore_SpecialOccasion.csv</default>
                    </files>
                </Magestore_SpecialOccasion>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<specialoccasionadmin>
				<use>admin</use>
				<args>
					<module>Magestore_SpecialOccasion</module>
					<frontName>specialoccasionadmin</frontName>
				</args>
			</specialoccasionadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<specialoccasion>
					<file>specialoccasion.xml</file>
				</specialoccasion>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_SpecialOccasion>
                    <files>
                        <default>Magestore_SpecialOccasion.csv</default>
                    </files>
                </Magestore_SpecialOccasion>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <specialoccasion>
                <class>Magestore_SpecialOccasion_Model</class>
                <resourceModel>specialoccasion_mysql4</resourceModel>
            </specialoccasion>
            <specialoccasion_mysql4>
                <class>Magestore_SpecialOccasion_Model_Mysql4</class>
                <entities>
                    <specialoccasion>
                        <table>specialoccasion</table>
                    </specialoccasion>
                    <item>
                        <table>specialoccasion_item</table>
                    </item>
                    <address>
                        <table>specialoccasion_address</table>
                    </address>
                    <history>
                        <table>specialoccasion_history</table>
                    </history>
                </entities>
            </specialoccasion_mysql4>
        </models>
        <resources>
            <specialoccasion_setup>
                <setup>
                    <module>Magestore_SpecialOccasion</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </specialoccasion_setup>
            <specialoccasion_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </specialoccasion_write>
            <specialoccasion_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </specialoccasion_read>
        </resources>
        <blocks>
            <specialoccasion>
                <class>Magestore_SpecialOccasion_Block</class>
            </specialoccasion>
        </blocks>
        <helpers>
            <specialoccasion>
                <class>Magestore_SpecialOccasion_Helper</class>
            </specialoccasion>
        </helpers>
        <template>
            <email>
                <specialoccasion_email_remind>
                    <label>Email template sent to remind the customer about the Special Occasion</label>
                    <file>specialoccasion/remind.html</file>
                    <type>html</type>
                </specialoccasion_email_remind>
            </email>
        </template>
    </global>
    <default>
        <specialoccasion>
            <general>
                <enable>1</enable>
                <day_send_email>10</day_send_email>
                <day_create_order>7</day_create_order>
                <warning_message>Default warning message !</warning_message>
            </general>
            <email>
                <remind>specialoccasion_email_remind</remind>
            </email>
        </specialoccasion>
    </default>
</config>
