<config>
    <modules>
        <CommerceExtensions_Orderimportexport>
            <version>0.1.0</version>
        </CommerceExtensions_Orderimportexport>
    </modules>  
    <frontend>
        <routers>
            <commerceextensions_orderimportexport>
                <use>standard</use>
                <args>
                    <module>CommerceExtensions_Orderimportexport</module>
                    <frontName>orderimportexport</frontName>
                </args>
            </commerceextensions_orderimportexport>
        </routers>
    </frontend> 
    <global>
        <blocks>
            <commerceextensions_orderimportexport>
                <class>CommerceExtensions_Orderimportexport_Block</class>
            </commerceextensions_orderimportexport>
            <adminhtml>
                <rewrite>
                    <system_convert_profile_grid>CommerceExtensions_Orderimportexport_Block_Adminhtml_System_Convert_Profile_Grid</system_convert_profile_grid>
                    <system_convert_gui_grid>CommerceExtensions_Orderimportexport_Block_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <commerceextensions_orderimportexport>
                <class>CommerceExtensions_Orderimportexport_Helper</class>
            </commerceextensions_orderimportexport>
        </helpers>
        <models>
            <commerceextensions_orderimportexport>
                <class>CommerceExtensions_Orderimportexport_Model</class>
            </commerceextensions_orderimportexport>
            <!--<shipping>-->
                <!--<rewrite>-->
                    <!--<shipping>CommerceExtensions_Orderimportexport_Model_Shipping</shipping>-->
                <!--</rewrite>-->
            <!--</shipping>-->
        </models>
        <resources>
            <orderimportexport_setup>
                <setup>
                    <module>CommerceExtensions_Orderimportexport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderimportexport_setup>
            <orderimportexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderimportexport_write>
            <orderimportexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderimportexport_read>
        </resources>
    </global>
	<default>
        <payment>
            <imported>
                <active>0</active>
                <model>commerceextensions_orderimportexport/payment_method_importedpayment</model>
                <order_status>pending</order_status>
                <title>Imported</title>
                <allowspecific>0</allowspecific>
            </imported>
         </payment>
        <carriers>
            <imported>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>commerceextensions_orderimportexport/shipping_importedshippingmethod</model>
                <name>imported</name>
                <title>imported</title>
                <handling_type>F</handling_type>
            </imported>
        </carriers>
    </default>
    <frontend>
        <blocks>
            <commerceextensions_orderimportexport>
                <class>CommerceExtensions_Orderimportexport_Block</class>
            </commerceextensions_orderimportexport>
        </blocks>
    </frontend>
    <adminhtml>
		<menu>
			<system>
				<children>
					<convert>
						<children>
							<orderimportexport translate="title">
								<title>CommerceExtensions Order Import/Export</title>
								<action>adminhtml/orderimportexport</action>
								<sort_order>90</sort_order>
							</orderimportexport>
						</children>
					</convert>
				</children>
			</system>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
            <admin>
                <children>
                    <system>
                        <children>
                            <convert>
                                <children>
                                    <orderimportexport translate="title">
                                        <title>CommerceExtensions Order Import/Export</title>
                                    </orderimportexport>
                                </children>
                            </convert>
                        </children>
                    </system>
                </children>
            </admin>
			</resources>
		</acl>
        <layout>
            <updates>
                <orderimportexport>
                    <file>orderimportexport.xml</file>
                </orderimportexport>
            </updates>
        </layout>
    </adminhtml>
	<admin>
	 <routers>
		 <adminhtml>
			 <args>
				 <modules>
				 	<orderimportexport after="Mage_Adminhtml">CommerceExtensions_Orderimportexport_Adminhtml</orderimportexport>
				 </modules>
			 </args>
		 </adminhtml>
	 </routers>
	</admin>
</config>