<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_ManageApi>
            <version>0.1.0</version>
        </Magestore_ManageApi>
    </modules>
    <frontend>
        <routers>
            <manageapi>
                <use>standard</use>
                <args>
                    <module>Magestore_ManageApi</module>
                    <frontName>manageapi</frontName>
                </args>
            </manageapi>
        </routers>
        <layout>
            <updates>
                <manageapi>
                    <file>manageapi.xml</file>
                </manageapi>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_ManageApi>
                    <files>
                        <default>Magestore_ManageApi.csv</default>
                    </files>
                </Magestore_ManageApi>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<manageapiadmin>
				<use>admin</use>
				<args>
					<module>Magestore_ManageApi</module>
					<frontName>manageapiadmin</frontName>
				</args>
			</manageapiadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<manageapi>
					<file>manageapi.xml</file>
				</manageapi>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_ManageApi>
                    <files>
                        <default>Magestore_ManageApi.csv</default>
                    </files>
                </Magestore_ManageApi>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <manageapi>
                <class>Magestore_ManageApi_Model</class>
                <resourceModel>manageapi_mysql4</resourceModel>
            </manageapi>
            <manageapi_mysql4>
                <class>Magestore_ManageApi_Model_Mysql4</class>
                <entities>
                    <linkshare>
                        <table>linkshare_actions</table>
                    </linkshare>
                </entities>
            </manageapi_mysql4>
        </models>
        <resources>
            <manageapi_setup>
                <setup>
                    <module>Magestore_ManageApi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </manageapi_setup>
            <manageapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </manageapi_write>
            <manageapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </manageapi_read>
        </resources>
        <blocks>
            <manageapi>
                <class>Magestore_ManageApi_Block</class>
            </manageapi>
        </blocks>
        <helpers>
            <manageapi>
                <class>Magestore_ManageApi_Helper</class>
            </manageapi>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <manageapi_get_data_from_link_share_api>
                <schedule>
                    <cron_expr>* 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>manageapi/observer::processLinkShareCron</model>
                </run>
            </manageapi_get_data_from_link_share_api>
        </jobs>
    </crontab>
    <default>
        <manageapi>
            <general>
                <enable>1</enable>
                <link_share_api><![CDATA[https://ran-reporting.rakutenmarketing.com/en/reports/signature-orders-report---by-member-and-order-id/filters?start_date={{start_date}}&end_date={{end_date}}&include_summary=N&network=1&tz=GMT&date_type=process&token=ZW5jcnlwdGVkYToyOntzOjU6IlRva2VuIjtzOjY0OiIwNWQyODE1NWI4YzVkNGEzOWNlM2ViN2E5NTdhMzU1NjJhOGYxMzg1Njg1NGRkZDc2YjJlYjZlNWI0MDg2MGQ5IjtzOjg6IlVzZXJUeXBlIjtzOjk6IlB1Ymxpc2hlciI7fQ%3D%3D]]></link_share_api>
            </general>
        </manageapi>
    </default>
</config>