<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_ManageApi>
            <version>0.1.0</version>
        </Magestore_ManageApi>
    </modules>
    <frontend>
        <routers>
            <manageapi>
                <use>standard</use>
                <args>
                    <module>Magestore_ManageApi</module>
                    <frontName>manageapi</frontName>
                </args>
            </manageapi>
        </routers>
        <layout>
            <updates>
                <manageapi>
                    <file>manageapi.xml</file>
                </manageapi>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_ManageApi>
                    <files>
                        <default>Magestore_ManageApi.csv</default>
                    </files>
                </Magestore_ManageApi>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<manageapiadmin>
				<use>admin</use>
				<args>
					<module>Magestore_ManageApi</module>
					<frontName>manageapiadmin</frontName>
				</args>
			</manageapiadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<manageapi>
					<file>manageapi.xml</file>
				</manageapi>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_ManageApi>
                    <files>
                        <default>Magestore_ManageApi.csv</default>
                    </files>
                </Magestore_ManageApi>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <manageapi>
                <class>Magestore_ManageApi_Model</class>
                <resourceModel>manageapi_mysql4</resourceModel>
            </manageapi>
            <manageapi_mysql4>
                <class>Magestore_ManageApi_Model_Mysql4</class>
                <entities>
                    <linkshare>
                        <table>linkshare_actions</table>
                    </linkshare>
                    <hotelactions>
                        <table>priceline_hotel_actions</table>
                    </hotelactions>
                    <flightactions>
                        <table>priceline_flight_actions</table>
                    </flightactions>
                    <caractions>
                        <table>priceline_car_actions</table>
                    </caractions>
                    <vacationactions>
                        <table>priceline_vacation_actions</table>
                    </vacationactions>
                    <cjactions>
                        <table>priceline_cj_actions</table>
                    </cjactions>
                    <targetactions>
                        <table>target_actions</table>
                    </targetactions>
                </entities>
            </manageapi_mysql4>
        </models>
        <resources>
            <manageapi_setup>
                <setup>
                    <module>Magestore_ManageApi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </manageapi_setup>
            <manageapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </manageapi_write>
            <manageapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </manageapi_read>
        </resources>
        <blocks>
            <manageapi>
                <class>Magestore_ManageApi_Block</class>
            </manageapi>
        </blocks>
        <helpers>
            <manageapi>
                <class>Magestore_ManageApi_Helper</class>
            </manageapi>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <manageapi_get_data_from_api>
                <schedule>
                    <cron_expr>* 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>manageapi/observer::processCron</model>
                </run>
            </manageapi_get_data_from_api>
        </jobs>
    </crontab>
    <default>
        <manageapi>
            <link_share>
                <enable>1</enable>
                <link_share_api><![CDATA[https://ran-reporting.rakutenmarketing.com/en/reports/signature-orders-report---by-member-and-order-id/filters?start_date={{start_date}}&end_date={{end_date}}&include_summary=N&network=1&tz=GMT&date_type=process&token=ZW5jcnlwdGVkYToyOntzOjU6IlRva2VuIjtzOjY0OiIwNWQyODE1NWI4YzVkNGEzOWNlM2ViN2E5NTdhMzU1NjJhOGYxMzg1Njg1NGRkZDc2YjJlYjZlNWI0MDg2MGQ5IjtzOjg6IlVzZXJUeXBlIjtzOjk6IlB1Ymxpc2hlciI7fQ%3D%3D]]></link_share_api>
            </link_share>
            <price_line>
                <enable_hotel>1</enable_hotel>
                <hotel_api><![CDATA[https://api.rezserver.com/api/shared/getTRK.Sales.Select.Hotel?refid=7844&api_key=04dbbbc0c546b154e6d4f4f9b34f8b52&format={{format}}&time_start={{start_date}}&time_end={{end_date}}&accountid_value=7844]]></hotel_api>
                <hotel_days>1</hotel_days>
                <hotel_format>xml</hotel_format>

                <enable_flight>1</enable_flight>
                <flight_api><![CDATA[https://api.rezserver.com/api/shared/getTRK.Sales.Select.Air?refid=7844&api_key=04dbbbc0c546b154e6d4f4f9b34f8b52&format={{format}}&time_start={{start_date}}&time_end={{end_date}}&accountid_value=7844]]></flight_api>
                <flight_days>1</flight_days>
                <flight_format>xml</flight_format>

                <enable_car>1</enable_car>
                <car_api><![CDATA[https://api.rezserver.com/api/shared/getTRK.Sales.Select.Car?refid=7844&api_key=04dbbbc0c546b154e6d4f4f9b34f8b52&format={{format}}&time_start={{start_date}}&time_end={{end_date}}&accountid_value=7844]]></car_api>
                <car_days>1</car_days>
                <car_format>xml</car_format>

                <enable_vacation>1</enable_vacation>
                <vacation_api><![CDATA[https://api.rezserver.com/api/shared/getTRK.Sales.Select.Vp?refid=7844&api_key=04dbbbc0c546b154e6d4f4f9b34f8b52&format={{format}}&time_start={{start_date}}&time_end={{end_date}}&accountid_value=7844]]></vacation_api>
                <vacation_days>1</vacation_days>
                <vacation_format>xml</vacation_format>
            </price_line>
            <cj>
                <enable_cj>1</enable_cj>
                <cj_developer_key><![CDATA[0085215047802fb30f7e12f949b2f3714d0ebfe94ec229762bb69aa3e4ae818ca6b5535f6ea7fd08e75b927689356e56d890359076c1d5e837b3f55ea3016b5a6b/10e72eeb35225948d1481570bf10dbc4dde78df6dafe2aabd82e803aabd1750b12bca8c2ff04b78ca3362760f5ec6b3d74c74a6982824fb292bc76759401e3b1]]></cj_developer_key>
                <cj_api><![CDATA[https://commission-detail.api.cj.com/v3/commissions?date-type={{data_type}}&start-date={{start_date}}&end-date={{end_date}}]]></cj_api>
                <cj_data_type>posting</cj_data_type>
            </cj>
            <target>
                <enable_target>1</enable_target>
                <target_api><![CDATA[https://IRzgwVMgNkX6355610dS23zjUzeVRQiYQ1:zuEQBCXBuXArZq%7ExxszdHS%7EBKMGmU8X4@api.impactradius.com/Mediapartners/IRzgwVMgNkX6355610dS23zjUzeVRQiYQ1/Reports/mp_action_listing_sku?compareEnabled=false&timeRange=CUSTOM&START_DATE={{start_date}}&END_DATE={{end_date}}&SUPERSTATUS_MS=APPROVED&SUPERSTATUS_MS=NA&SUPERSTATUS_MS=PENDING&PUB_CAMPAIGN=0&MODIFIED_Y_N=0&PUB_ACTION_TRACKER=0&MP_ACTION_TYPE=0&REFERRAL_TYPE=0]]></target_api>
                <target_days>1</target_days>
            </target>
        </manageapi>
    </default>
</config>