<?xml version="1.0"?>
<config>
	<tabs>
		<magestore translate="label">
			<label>Magestore Extension</label>
			<sort_order>400</sort_order>
		</magestore>
	</tabs>
	<sections>
		<manageapi translate="label" module="manageapi">
			<class>separator-top</class>
			<label>ManageApi</label>
			<tab>magestore</tab>
			<frontend_type>text</frontend_type>
			<sort_order>299</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<link_share translate="label">
					<label>Link Share API Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>		
						<enable translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<sort_order>1</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</enable>
						<link_share_api>
							<label>Link Share API</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Please don't remove {{start_date}} and {{end_date}} variables in link</comment>
						</link_share_api>
					</fields>				
				</link_share>
				<price_line translate="label">
					<label>Price Line API Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<show_separator_hotel translate="label">
							<label>Hotel</label>
							<frontend_type>label</frontend_type>
							<frontend_model>manageapi/adminhtml_field_separator</frontend_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</show_separator_hotel>
						<enable_hotel translate="label">
							<label>Enable Hotel API</label>
							<frontend_type>select</frontend_type>
							<sort_order>1</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</enable_hotel>
						<hotel_api>
							<label>Hotel API</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Please don't remove {{start_date}} and {{end_date}} variables in link</comment>
						</hotel_api>
						<hotel_days>
							<label>Hotel Days</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>The number of previous days. Default: 1</comment>
						</hotel_days>
						<hotel_format>
							<label>Hotel Format</label>
							<frontend_type>select</frontend_type>
							<sort_order>4</sort_order>
							<source_model>manageapi/format</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Format response is xml or json. Default: xml</comment>
						</hotel_format>

						<show_separator_flight translate="label">
							<label>Flight</label>
							<frontend_type>label</frontend_type>
							<frontend_model>manageapi/adminhtml_field_separator</frontend_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</show_separator_flight>
						<enable_flight translate="label">
							<label>Enable Flight API</label>
							<frontend_type>select</frontend_type>
							<sort_order>5</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</enable_flight>
						<flight_api>
							<label>Flight API</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Please don't remove {{start_date}} and {{end_date}} variables in link</comment>
						</flight_api>
						<flight_days>
							<label>Flight Days</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>The number of previous days. Default: 1</comment>
						</flight_days>
						<flight_format>
							<label>Flight Format</label>
							<frontend_type>select</frontend_type>
							<sort_order>8</sort_order>
							<source_model>manageapi/format</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Format response is xml or json. Default: xml</comment>
						</flight_format>

						<show_separator_car translate="label">
							<label>Car</label>
							<frontend_type>label</frontend_type>
							<frontend_model>manageapi/adminhtml_field_separator</frontend_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</show_separator_car>
						<enable_car translate="label">
							<label>Enable Car API</label>
							<frontend_type>select</frontend_type>
							<sort_order>9</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</enable_car>
						<car_api>
							<label>Car API</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Please don't remove {{start_date}} and {{end_date}} variables in link</comment>
						</car_api>
						<car_days>
							<label>Car Days</label>
							<frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>The number of previous days. Default: 1</comment>
						</car_days>
						<car_format>
							<label>Car Format</label>
							<frontend_type>select</frontend_type>
							<sort_order>12</sort_order>
							<source_model>manageapi/format</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Format response is xml or json. Default: xml</comment>
						</car_format>

						<show_separator_vacation translate="label">
							<label>Vacation</label>
							<frontend_type>label</frontend_type>
							<frontend_model>manageapi/adminhtml_field_separator</frontend_model>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</show_separator_vacation>
						<enable_vacation translate="label">
							<label>Enable Vacation API</label>
							<frontend_type>select</frontend_type>
							<sort_order>14</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</enable_vacation>
						<vacation_api>
							<label>Vacation API</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Please don't remove {{start_date}} and {{end_date}} variables in link</comment>
						</vacation_api>
						<vacation_days>
							<label>Vacation Days</label>
							<frontend_type>text</frontend_type>
							<sort_order>16</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>The number of previous days. Default: 1</comment>
						</vacation_days>
						<vacation_format>
							<label>Vacation Format</label>
							<frontend_type>select</frontend_type>
							<sort_order>17</sort_order>
							<source_model>manageapi/format</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Format response is xml or json. Default: xml</comment>
						</vacation_format>
					</fields>
				</price_line>
				<cj translate="label">
					<label>Cj API Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enable_cj translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<sort_order>1</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</enable_cj>
						<cj_developer_key>
							<label>Cj Developer Key</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</cj_developer_key>
						<cj_data_type>
							<label>Data Type</label>
							<frontend_type>select</frontend_type>
							<sort_order>3</sort_order>
							<source_model>manageapi/datatype</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Use this parameter to specify the date parameter as either the event date or the posting date. Options include the following: event, posting. Default is posting.</comment>
						</cj_data_type>
						<cj_api>
							<label>Cj API</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Please don't remove {{start_date}}, {{end_date}} and {{data_type}} variables in link</comment>
						</cj_api>
					</fields>
				</cj>
				<target translate="label">
					<label>Target API Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>4</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enable_target translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<sort_order>1</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</enable_target>
						<target_api>
							<label>Target API</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Please don't remove {{start_date}}, {{end_date}} variables in link</comment>
						</target_api>
						<target_days>
							<label>Target Previous Days</label>
							<frontend_type>text</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>The number of previous days. Default: 1</comment>
						</target_days>
					</fields>
				</target>
			</groups>
		</manageapi>
	</sections>
</config>