
@font-face {
  font-family: 'HelveticaRegular';
  src: url('HelveticaRegular.eot?#iefix') format('embedded-opentype'),  url('HelveticaRegular.woff') format('woff'), url('HelveticaRegular.ttf')  format('truetype'), url('HelveticaRegular.svg#HelveticaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
