<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 *
 * @package     Skrill
 * @copyright   Copyright (c) 2014 Skrill
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Skrill>
            <version>1.0.28</version>
        </Skrill>
    </modules>

    <global>
        <helpers>
            <skrill>
                <class>Skrill_Helper</class>
            </skrill>
        </helpers>
        <models>
            <skrill>
                <class>Skrill_Model</class>
            </skrill>
        </models>
        <resources>
            <skrill_setup>
                <setup>
                    <module>Skrill</module>
					<class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </skrill_setup>
        </resources>
        <blocks>
            <skrill>
                <class>Skrill_Block</class>
            </skrill>
        </blocks>
        <sales>
            <order>
                <statuses>
                    <payment_accepted translate="label">
                        <label>SUCCESS_PAYMENT_ACC</label>
                    </payment_accepted>
                    <payment_remotely translate="label">
                        <label>SUCCESS_PREAUTH_ACC</label>
                    </payment_remotely>
                    <invalid_credential translate="label">
                        <label>INVALID_CREDENTIAL</label>
                    </invalid_credential>
                </statuses>
				<states>
					<pending_payment>
						<statuses>
							<payment_remotely/>
						</statuses>
					</pending_payment>
					<processing>
						<statuses>
							<payment_accepted/>
						</statuses>
					</processing>
                   <processing>
                        <statuses>
                            <invalid_credential/>
                        </statuses>
                   </processing>
				</states>
            </order>
        </sales>
        <payment>
            <groups>
                <skrillpm>Skrill Payment Methods</skrillpm>
            </groups>
        </payment>
    </global>

    <frontend>
        <translate>
            <modules>
                <Skrill>
                    <files>
                        <default>Skrill.csv</default>
                    </files>
                </Skrill>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Skrill>
                    <files>
                        <default>Skrill.csv</default>
                    </files>
                </Skrill>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <skrill>
                <use>admin</use>
                <args>
                    <module>Skrill</module>
                    <frontName>skrill</frontName>
                </args>
            </skrill>
            <adminhtml>
                <args>
                    <modules>
                        <Skrill after="Mage_Adminhtml">Skrill</Skrill>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <skrill>
                <use>standard</use>
                <args>
                    <module>Skrill</module>
                    <frontName>skrill</frontName>
                </args>
            </skrill>
        </routers>
        <layout>
            <updates>
                <skrill_checkout>
                    <file>skrill_checkout.xml</file>
                </skrill_checkout>
            </updates>
        </layout>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <skrill_success_observer>
                        <type>model</type>
                        <class>Skrill_Model_Success_Observer</class>
                        <method>activateQuote</method>
                    </skrill_success_observer>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <skrill_system_config>
                    <file>skrill/system_config.xml</file>
                </skrill_system_config>
            </updates>
        </layout>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <skrill_config_observer>
                        <type>model</type>
                        <class>Skrill_Model_Config_Observer</class>
                        <method>saveConfig</method>
                    </skrill_config_observer>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </adminhtml>

    <default>
        <payment>
            <skrill_settings>
                <version>1.0.28</version>
                <merchant_id></merchant_id>
                <merchant_account></merchant_account>
                <recipient_desc></recipient_desc>
                <logo_url></logo_url>
                <shop_url></shop_url>
                <api_passwd></api_passwd>
                <secret_word></secret_word>
                <display>IFRAME</display>
                <group>skrillpm</group>
            </skrill_settings>
            <skrill_general>
                <active>1</active>
                <sender></sender>
                <login></login>
                <password></password>
            </skrill_general>
            <skrill_flexible>
                <active>0</active>
                <show_separately>1</show_separately>
                <model>skrill/method_flexible</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>All Cards and Alternative Payment Methods</title>
                <allowspecific>0</allowspecific>
                <group>skrillpm</group>
            </skrill_flexible>
            <skrill_wlt>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_wlt</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Skrill Wallet</title>
                <allowspecific>0</allowspecific>
                <group>skrillpm</group>
            </skrill_wlt>
            <skrill_psc>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>skrill/method_psc</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Paysafecard</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AS,AT,BE,CA,HR,CY,CZ,DK,FI,FR,DE,GU,HU,IE,IT,LV,LU,MT,MX,NL,MP,NO,PL,PT,PR,RO,SK,SI,ES,SE,CH,TR,GB,US,VI</specificcountry>
                <group>skrillpm</group>
            </skrill_psc>
            <skrill_acc>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <card_selection>AMEX,VISA,MASTER,MAESTRO</card_selection>
                <transaction_mode>DB</transaction_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>skrill/method_acc</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Credit Card / Visa, Mastercard, AMEX</title>
                <allowspecific>0</allowspecific>
                <group>skrillpm</group>
            </skrill_acc>
            <skrill_vsa>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_vsa</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Visa</title>
                <allowspecific>0</allowspecific>
                <group>skrillpm</group>
            </skrill_vsa>
            <skrill_msc>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_msc</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>MasterCard</title>
                <allowspecific>0</allowspecific>
                <group>skrillpm</group>
            </skrill_msc>
            <skrill_vse>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_vse</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Visa Electron</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AF,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BT,BO,BA,BW,BV,BR,IO,VG,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,HR,CU,CY,CZ,CI,DK,DJ,DM,DO,EC,EG,SV,GQ,ER,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,HN,HK,HU,IS,IN,ID,IR,IQ,IE,IM,IL,IT,JM,JP,JE,JO,KZ,KE,KI,KW,KG,LA,LV,LB,LS,LR,LY,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NR,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,KP,MP,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,PR,QA,RO,RU,RW,RE,BL,SH,KN,LC,MF,PM,WS,SM,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,VC,SD,SR,SJ,SZ,SE,CH,SY,ST,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TR,TM,TC,TV,UM,VI,UG,UA,AE,GB,UY,UZ,VU,VA,VE,VN,WF,EH,YE,ZM,ZW,AX</specificcountry>
                <group>skrillpm</group>
            </skrill_vse>
            <skrill_mae>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_mae</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Maestro</title>
                <allowspecific>1</allowspecific>
                <specificcountry>GB,ES,IE,AT</specificcountry>
                <group>skrillpm</group>
            </skrill_mae>
            <skrill_amx>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_amx</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>American Express</title>
                <allowspecific>0</allowspecific>
                <group>skrillpm</group>
            </skrill_amx>
            <skrill_din>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_din</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Diners</title>
                <allowspecific>0</allowspecific>
                <group>skrillpm</group>
            </skrill_din>
            <skrill_jcb>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_jcb</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>JCB</title>
                <allowspecific>0</allowspecific>
                <group>skrillpm</group>
            </skrill_jcb>
            <skrill_gcb>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_gcb</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Carte Bleue by Visa</title>
                <allowspecific>1</allowspecific>
                <specificcountry>FR</specificcountry>
                <group>skrillpm</group>
            </skrill_gcb>
            <skrill_dnk>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_dnk</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Dankort by Visa</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DK</specificcountry>
                <group>skrillpm</group>
            </skrill_dnk>
             <skrill_psp>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_psp</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>PostePay by Visa</title>
                <allowspecific>1</allowspecific>
                <specificcountry>IT</specificcountry>
                <group>skrillpm</group>
            </skrill_psp>
            <skrill_csi>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_csi</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>CartaSi by Visa</title>
                <allowspecific>1</allowspecific>
                <specificcountry>IT</specificcountry>
                <group>skrillpm</group>
            </skrill_csi>
            <skrill_obt>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_obt</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Rapid Transfer</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE,GB,FR,IT,ES,HU,AT,PT</specificcountry>
                <group>skrillpm</group>
            </skrill_obt>
            <skrill_ntl>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_ntl</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Neteller</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AW,AU,AT,AZ,BH,BD,BB,BY,BE,BZ,BJ,BM,BO,BA,BW,BR,BN,BG,BF,BI,KH,CA,CV,KY,CF,TD,CL,CX,CR,CO,KM,CG,HR,CY,CZ,DK,DJ,DM,EC,EG,SV,GQ,EE,ET,FK,FO,FJ,FI,GG,FR,GF,PF,TF,GA,GM,DE,GH,GI,GR,GL,GD,GT,GW,GY,HT,VA,HN,HK,HU,IS,IN,IE,IM,IL,IT,JM,JP,JE,JO,KE,KI,KR,KW,LA,LV,LB,LS,LI,LU,MO,MK,MG,MW,MY,MV,ML,MT,MQ,MR,MU,YT,MX,MD,MC,ME,MA,MZ,NA,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,NO,OM,PS,PA,PY,PE,PH,PN,PL,PT,QA,RE,RO,RU,RW,SH,KN,LC,PM,VC,WS,ST,SA,SN,RS,SC,SG,SK,SI,SB,ZA,ES,LK,SR,SJ,SZ,SE,CH,TZ,TH,TG,TK,TO,TT,TN,TR,TC,TV,UA,AE,GB,UY,VU,VE,VN,WF,EH,ZM</specificcountry>
                <group>skrillpm</group>
            </skrill_ntl>
            <skrill_gir>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>skrill/method_gir</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Giropay</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <group>skrillpm</group>
            </skrill_gir>
            <skrill_did>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>skrill/method_did</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Direct Debit / ELV</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <group>skrillpm</group>
            </skrill_did>
            <skrill_sft>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>skrill/method_sft</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Sofortueberweisung</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE,AT,BE,NL,IT,FR,PL,GB</specificcountry>
                <group>skrillpm</group>
            </skrill_sft>
            <skrill_ebt>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_ebt</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Nordea Solo</title>
                <allowspecific>1</allowspecific>
                <specificcountry>SE</specificcountry>
                <group>skrillpm</group>
            </skrill_ebt>
            <skrill_idl>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>skrill/method_idl</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>iDEAL</title>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
                <group>skrillpm</group>
            </skrill_idl>
            <skrill_npy>
                <active>0</active>
                <gateway>SKRILL</gateway>
                <show_separately>0</show_separately>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <model>skrill/method_npy</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>EPS (Netpay)</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AT</specificcountry>
                <group>skrillpm</group>
            </skrill_npy>
            <skrill_pli>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_pli</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>POLi</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AU</specificcountry>
                <group>skrillpm</group>
            </skrill_pli>
            <skrill_pwy>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_pwy</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Przelewy24</title>
                <allowspecific>1</allowspecific>
                <specificcountry>PL</specificcountry>
                <group>skrillpm</group>
            </skrill_pwy>
            <skrill_epy>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_epy</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>ePay.bg</title>
                <allowspecific>1</allowspecific>
                <specificcountry>BG</specificcountry>
                <group>skrillpm</group>
            </skrill_epy>
            <skrill_glu>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_glu</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Trustly</title>
                <allowspecific>1</allowspecific>
                <specificcountry>SE,FI,EE,DK,ES,PL,IT,FR,DE,PT,AT,LV,LT,NL,CZ,SK</specificcountry>
                <group>skrillpm</group>
            </skrill_glu>
            <skrill_ali>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_ali</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Alipay</title>
                <allowspecific>1</allowspecific>
                <specificcountry>CN</specificcountry>
                <group>skrillpm</group>
            </skrill_ali>
            <skrill_creditcard>
                <active>1</active>
                <model>skrill/method_creditcard</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Credit Card (Enterprise)</title>
                <group>skrillpm</group>
            </skrill_creditcard>
            <skrill_directdebit>
                <active>1</active>
                <model>skrill/method_directdebit</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Lastschrift (ELV) (Enterprise)</title>
                <group>skrillpm</group>
            </skrill_directdebit>
            <skrill_eps>
                <active>1</active>
                <model>skrill/method_eps</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>eps (Enterprise)</title>
                <group>skrillpm</group>
            </skrill_eps>
            <skrill_giropay>
                <active>1</active>
                <model>skrill/method_giropay</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>giropay (Enterprise)</title>
                <group>skrillpm</group>
            </skrill_giropay>
            <skrill_ideal>
                <active>1</active>
                <model>skrill/method_ideal</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>iDeal (Enterprise)</title>
                <group>skrillpm</group>
            </skrill_ideal>
            <!-- <skrill_paypal>
                <active>0</active>
                <gateway>PAYON</gateway>
                <model>skrill/method_paypal</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>PayPal (Enterprise)</title>
                <server_mode>TEST</server_mode>
				<channel_id></channel_id>
				<sender></sender>
				<login></login>
				<password></password>
                <group>skrillpm</group>
            </skrill_paypal> -->
            <skrill_sofortuberweisung>
                <active>1</active>
                <model>skrill/method_sofortuberweisung</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>SOFORT Ü‎berweisung (Enterprise)</title>
                <group>skrillpm</group>
            </skrill_sofortuberweisung>
            <!-- <skrill_payolutioninv>
                <active>0</active>
                <gateway>PAYON</gateway>
                <model>skrill/method_payolutioninv</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Payolution Invoice (Enterprise)</title>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <group>skrillpm</group>
            </skrill_payolutioninv>
            <skrill_payolutionins>
                <active>0</active>
                <gateway>PAYON</gateway>
                <model>skrill/method_payolutionins</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Payolution Installment (Enterprise)</title>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <group>skrillpm</group>
            </skrill_payolutionins> -->
            <skrill_paysafecard>
                <active>1</active>
                <model>skrill/method_paysafecard</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Paysafecard (Enterprise)</title>
                <group>skrillpm</group>
            </skrill_paysafecard>
            <!-- <skrill_paytrail>
                <active>0</active>
                <gateway>PAYON</gateway>
                <model>skrill/method_paytrail</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Paytrail (Enterprise)</title>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <group>skrillpm</group>
            </skrill_paytrail> -->
            <!-- <skrill_yandex>
                <active>0</active>
                <gateway>PAYON</gateway>
                <model>skrill/method_yandex</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Yandex (Enterprise)</title>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sender></sender>
                <login></login>
                <password></password>
                <group>skrillpm</group>
            </skrill_yandex> -->
            <skrill_adb>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_adb</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Trustly</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AR,BR,CN</specificcountry>
                <group>skrillpm</group>
            </skrill_adb>
            <skrill_aob>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_aob</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Trustly</title>
                <allowspecific>1</allowspecific>
                <specificcountry>BR,CL,CO</specificcountry>
                <group>skrillpm</group>
            </skrill_aob>
            <skrill_aci>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_aci</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Trustly</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AR,BR,CL,CO,MX,UY</specificcountry>
                <group>skrillpm</group>
            </skrill_aci>
            <skrill_aup>
                <active>0</active>
                <show_separately>0</show_separately>
                <model>skrill/method_aup</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Trustly</title>
                <allowspecific>1</allowspecific>
                <specificcountry>CN</specificcountry>
                <group>skrillpm</group>
            </skrill_aup>
        </payment>
    </default>

</config>