<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Other>
            <version>0.1.0</version>
        </Magestore_Other>
    </modules>
    <frontend>
        <routers>
            <other>
                <use>standard</use>
                <args>
                    <module>Magestore_Other</module>
                    <frontName>other</frontName>
                </args>
            </other>
        </routers>
        <layout>
            <updates>
                <other>
                    <file>other.xml</file>
                </other>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Other>
                    <files>
                        <default>Magestore_Other.csv</default>
                    </files>
                </Magestore_Other>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<otheradmin>
				<use>admin</use>
				<args>
					<module>Magestore_Other</module>
					<frontName>otheradmin</frontName>
				</args>
			</otheradmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<other>
					<file>other.xml</file>
				</other>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_Other>
                    <files>
                        <default>Magestore_Other.csv</default>
                    </files>
                </Magestore_Other>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <other>
                <class>Magestore_Other_Model</class>
                <resourceModel>other_mysql4</resourceModel>
            </other>
            <other_mysql4>
                <class>Magestore_Other_Model_Mysql4</class>
                <entities>
                    <other>
                        <table>other</table>
                    </other>
                </entities>
            </other_mysql4>
        </models>
        <resources>
            <other_setup>
                <setup>
                    <module>Magestore_Other</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </other_setup>
            <other_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </other_write>
            <other_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </other_read>
        </resources>
        <blocks>
            <other>
                <class>Magestore_Other_Block</class>
            </other>
        </blocks>
        <helpers>
            <other>
                <class>Magestore_Other_Helper</class>
            </other>
        </helpers>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <other_controller_action_predispatch_checkout_cart_add>
                        <type>singleton</type>
                        <class>other/observer</class>
                        <method>predispatchCheckoutCartAdd</method>
                    </other_controller_action_predispatch_checkout_cart_add>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
    </global>
    <default>
        <other>
            <general>
                <enable>1</enable>
            </general>
            <drop_ship>
                <enable>1</enable>
                <sku>SITA12</sku>
            </drop_ship>
            <rewardpoint_header>
                <enable>1</enable>
                <font_size>13</font_size>
                <text_color>FFFFFF</text_color>
            </rewardpoint_header>
        </other>
    </default>
</config>